@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
body, html{
    background-color: lightgray;
}

header{
    background-color: gray;
}

header > h1{
    padding: 10px;
    text-align: center;
}

span#burguer{
    background-color: rgba(20, 20, 20, 0.397);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

span#burguer:hover {
    background-color: white;
    color: black;
}

menu{
    display: none;
}

menu > ul{
   list-style-type: none;
}

menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(49, 48, 48);
    color: white;
    text-align: center;
    border-top: 2px solid gray;
}

menu > ul > li > a:hover {
    background-color: rgba(128, 128, 128, 0.685);
}

main{
    width: 90vw;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    
}

article > h2 {
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;

}