@charset "UTF-8";

/*Typical Device Brakpoints

Pequenas telas: aate 600px
Celular: de 600px ate 760px
Tablet: 768px ate 992px
Desktop: 992px ate 1200px
Grandes telas: acima de 1200px

*/

@media screen and (min-width: 768px) {
    span#burguer{
        display: none;
    }

    menu{
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }

    main{
        width: 768px;
    }
    
}